.cardBookDiv {
    padding: 1%;
    margin: 4%;
    border: 2px solid #d6d6d6;
    border-radius: 2%;
    text-align: center;
    box-shadow: 20px 20px 50px;
}

.cardBookDiv:hover {
    border: 2px solid #60C0DC;
}

ul {
    padding: 0;
}

.listBooks > li {
    list-style: none;    
    margin: 0;
    font-family: MontSerrat;
}


.titleBook {
    font-size: 1.5em;
    font-weight: bold;
}

.authorBook {
    font-size: 1.2em;
    font-weight: bold;
}  

.formButton {
    padding-bottom: 2%;
}

.updateButton, .deleteButton {
    padding-bottom: 4%;
    width: 100%;
    font-family: Spectral SC;
}