.cardBookDiv {
    padding: 1%;
    margin: 4%;
    border: 2px solid #a9b9b7;
    border-radius: 2%;
    text-align: center;
    box-shadow: 0px 0px 20px ;
    transition: 0.4s;
}

.cardBookDiv:hover {
    border: 2px solid #60C0DC;
    box-shadow: 0px 0px 40px #60C0DC;
    color: #60C0DC;
}

ul {
    padding: 0;
}

.listBooks > li {
    list-style: none;    
    margin: 0;
    font-family: MontSerrat;
}

.dateBook {
    font-size: 1.2em;
    padding-bottom: 5%;
}

.titleBook {
    font-size: 1.4em;
    font-weight: bold;
}

.authorBook {
    font-size: 1.2em;
    padding-bottom: 5%;
}  

.pagesBook {
    padding-bottom: 5%;
}

.dateBook, .pagesBook {
    color: #a9b9b7;
}

.imageBook {
    height: 100px;
    width: 100px;
}

.buttonsCardBook {
    border-top: 1px solid #a9b9b7;
    padding-top: 6%;
}

.saveButton {
    width: 100%;
}

.updateButton, .deleteButton, .saveButton {    
    font-family: Spectral SC;
    transition: 0.2s;
}

.updateButton:hover {
    background-color: #FFF!important;
    color: #EFB66F!important;
    border: 1px solid #EFB66F!important;
}

.deleteButton:hover {
    background-color: #FFF!important;
    color: #D6504F!important;
    border: 1px solid #D6504F!important;
}
